* {
  font-family: "Open Sans", serif;
  margin: 0px;
  padding: 0px;
}

#container {
  width: 1120px;
  height: 3054px;
  margin: 88px auto;
}
img {
  margin-bottom: 20px;
  border-radius: 28px;
  width: 100%;
}

#title {
  margin-bottom: 40px;
}

.headline {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #e1624f;
}
h1 {
  font-size: 36px;
  font-weight: bold;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background-color: #d9d9d9;
}

#list ol {
  width: 100%;
  list-style-position: inside;
}

#card-travel {
  margin-bottom: 48px;
}
#card-travel-2 {
  margin-bottom: 48px;
}

#card-travel-3 {
  margin-bottom: 48px;
}
strong {
  font-weight: bold;
  font-size: 16px;
}
.lista {
  font-weight: bold;
  color: #0c51a7;
}
#title-list {
  margin-top: 64px;
  margin-bottom: 40px;
}
.info-txt {
  margin-bottom: 4px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 28px;
}
h2 h3 {
  color: #1b1b1b;
  margin-bottom: 4px;
}

p {
  font-size: 16px;
  color: #333333;
}
ul {
  list-style-type: disc;
}
ul li::marker {
  color: #333333;
}

.text-bottom {
  text-align: center;
}

.casais {
  font-weight: bold;
  font-size: 16px;
  color: #591b98;
}

.familias {
  font-weight: bold;
  font-size: 16px;
  color: #e5245e;
}

.orcamentos {
  font-weight: bold;
  font-size: 16px;
  color: #e95e10;
}
